.header {
  padding: 10px;
  h1 {text-align: center;}
  background-color:black;  color: gray;
  font-size: 15px;
}

h1{text-align:center;}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

p{text-align:center;font-size: 25px
}

footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}
